<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //$('div:not(#top,#content,#menu, #foot)').remove();
            //$("div").not($("#top"), $("#content").children(), $("foot")).remove();
            $('center').remove();
            $('#znote_message_box').remove();
        });

    </script>
</head>
<body style="text-align:center;">
    
    <div id="top">
        <h1>懶人記帳</h1>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="foot"></div>
</body>
</html>
