@model BillDomain.Entity.Item

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Site.cshtml";
}

<h2>Add</h2>

<form id="" method="post" action="Add">
<table>
    <tr>
        <td>名目</td>
        <td>@Html.TextBoxFor(n => Model.ItemName)</td>
    </tr>
    <tr>
        <td>預算</td>
        <td>@Html.TextBoxFor(n => Model.ItemBudget)</td>
    </tr>
</table>

<p><input type="submit" value="送出" /></p>

</form>